.container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container-img {
  width: 100%;
  max-width: 500px;
  /* background-color: aqua; */
}
.container-img img {
  margin-bottom: -30px;
}
.container-img p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-img a {
  margin-top: px;
  margin-bottom: 10px;
  color: #000;
}
.container-img h4 {
  margin-top: 80px;
  margin-bottom: 40px;
}
.container-img span {
  color: #d2cece;
  margin-top: 10px;
  font-size: 13px;
}

@media (max-width: 834px) {
  .container-img {
    width: 70%;
    /* background-color: aqua;   */
  }
}

@media (max-width: 800px) {
  .container-img {
    width: 70%;
    /* background-color: aqua;   */
  }
}
