.footer-color {
  /* background-color: blueviolet; */
  color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.social-media {
  width: 100%;

  /* background-color: gold; */

  padding: 10px 56.5rem;
  /* justify-content: center; */
  margin-bottom: 20px;
}

.social-media ul {
  width: 100%;
  max-width: 250px;
  /* background-color: aqua; */

  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 15px;
}

.social-media a {
  color: #000;
}

footer {
  color: #9a9898;
  text-align: center;
  font-size: 12px;
}
@media (max-width: 1920px) {
  .footer-color {
    padding: 10px 39rem;
  }

  .social-media ul {
    gap: 10px;
  }
}
@media (max-width: 1880px) {
  .footer-color {
    padding: 10px 38rem;
  }

  .social-media ul {
    gap: 10px;
  }
}

@media (max-width: 1280px) {
  .footer-color {
    padding: 10px 21.3rem;
  }

  .social-media ul {
    gap: 10px;
  }
}
@media (max-width: 1115px) {
  .footer-color {
    padding: 10px 16.8rem;
  }
}

@media (max-width: 885px) {
  .footer-color {
    padding: 10px 10rem;
  }
}

@media (max-width: 835px) {
  .footer-color {
    padding: 10px 9rem;
  }
}

@media (max-width: 800px) {
  .footer-color {
    padding: 10px 8rem;
  }
}

@media (max-width: 768px) {
  .footer-color {
    padding: 10px 7rem;
  }
}
@media (max-width: 428px) {
  .footer-color {
    padding: 10px 4rem;
  }
  .social-media ul {
    gap: 10px;
  }
}

@media (max-width: 415px) {
  .footer-color {
    padding: 10px 4rem;
  }
  .social-media ul {
    gap: 10px;
  }
}
@media (max-width: 320px) {
  .footer-color {
    padding: 10px 3rem;
  }
  .social-media ul {
    gap: 10px;
  }
}
